/* * {
    color: aliceblue;;
    font-size: 40px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
  } */
  .card {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 25px;
  }

  .poster {
    height: 300px;
  }
  
  .red {
    background-color: red;
  }

  .green {
    background-color: rgb(59, 179, 58);
  }

  .rating {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px;
    color: white;
  }

  .tickets {
    background-color: rgb(255, 86, 0);
    position: absolute;
    bottom: 15px;
    right: 7px;
    padding: 5px;
    color: white;
  }
  /* .number1{
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  .number2{
    position: relative;
    width: fit-content;
    height: fit-content;
  }
.photo{
    width: fit-content;
    height: fit-content;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border: 20px ;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.photo1{
    width: fit-content;
    height: fit-content;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border: 20px ;
    position: relative;
    background-color: rgb(255, 255, 255);
}

#evaluation1{
        text-align:center;
        font-size: 25px;
        background-color: rgb(59,179,58) ;
        width: 45px;
        height: 40px;
        padding: 10px 5px 0px  5px;
        border-radius: none;
        color: aliceblue;
        margin: 25px 25px 25px 25px;
        position: absolute;
        bottom: 20px;
        top: 50px;
        left: 50px;
        font-family: 'Roboto', sans-serif;
    }
    #evaluation2{
        text-align:center;
        font-size: 25px;
        background-color: rgb(255,0,0) ;
        width: 45px;
        height: 40px;
        padding: 10px 5px 0px  5px;
        border-radius: none;
        color: aliceblue;
        margin: 1010px 25px 25px 25px;
        position: absolute;
        bottom: 20px;
        top: 50px;
        left: 50px;
        font-family: 'Roboto', sans-serif;
    }

    #ticket{
        text-align:center;
        font-size: 25px;
        background-color: rgb(255,86,0) ;
        width: 100px;
        height: 40px;
        padding: 6px 5px 0px  5px;
        border-radius: none;
        color: aliceblue;
        margin:750px 25px 25px 25px;
        position: absolute;
        bottom: 20px;
        top: 35px;
        right: 30px;
        font-family: 'Roboto', sans-serif;
    }
    #ticket1{
        text-align:center;
        font-size: 25px;
        background-color: rgb(255,86,0) ;
        width: 100px;
        height: 40px;
        padding: 6px 5px 0px  5px;
        border-radius: none;
        color: aliceblue;
        margin: 1725px 25px 25px 25px;
        position: absolute;
        bottom: 20px;
        top: 35px;
        right: 275px;
        font-family: 'Roboto', sans-serif;
    } */
    #tickets:hover{color: black;}
    
